body {
  background-color: palegreen;
  border: dotted;
  border-color: seagreen;
  border-width: 10px;
  font-family: sans-serif;
  padding: 20px;
}
a, a:hover { color: darkgreen; }

h1, h4 {color: white;}






.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    background-color: lightgreen;
	
}

.nav-item:hover {
	background-color: seagreen;
}

.gray {
	background-color: white;
}

.contactsection {background-color: seagreen;
                padding: 20px;

}

h1 {font-family: fantasy;
}

#contactsection {background-color: seagreen;
                padding: 20px;

}
#summarysection {background-color: seagreen;
                padding: 20px;
}
#skillssection {background-color: seagreen;
                padding: 20px;
}
#Achievementssection {background-color: seagreen;
                      padding: 20px;
}
/* ADD YOUR CUSTOM CSS TO THIS FILE */
