/* ADD YOUR CUSTOM CSS TO THIS FILE */

header { 
	background-color: whitesmoke;
	background-image: url(https://a.cdn-hotels.com/gdcs/production75/d1622/56350788-896c-4a93-92d2-562af1896372.jpg);

}

nav {
	background-color: pink !important;
}

section {
	background-color: #fb9062;
}


font {
	font-family: sans-serif;
}